# coverage config

[run]
branch = True
omit =
    */.local/*
    */tests/*
    */virtualenvs/*
    */.tox/*
command_line =
        -m pytest -vv

[paths]
source =
    devinstaller/

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

ignore_errors = True
