[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
devin = {editable = true,path = "."}
cerberus = "*"
click = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
